<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage | illustrate</title>
    <link rel = "stylesheet" href = "POSTing.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>


</head>
<body>

<a href = "<%=log%>"> <button type="button" class = "floatright"> <%=option2%></button></a>
<a href = "/explore"> <button type="button" class = "floatright">Explore</button></a>
<div class = "home">
    <div class = "bord">



<h1>illustrate</h1>

<p><i>Just another photo sharing app</i> </p>



        <a href = "http://localhost:9035<%=data%>"><button class = "buttons"><%=option%></button></a>
        <a href = "http://localhost:9035/register.html"><button class = "buttons">Register </button></a>
        <a href = "/explore"><button class = "buttons">Explore</button></a>


</div>
</div>


<footer>© Amy Hackett 2019</footer>



</body>
</html>