<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not found | illustrate</title>
    <link rel="stylesheet" href="POSTing.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon"/>
    <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
    <script src="index.js"></script>
</head>
<body>

<a href="/"><img id="logo" src="illustrate.png" width="200" height="45"></a>

<a href="/explore">
    <button type="button" class="floatright">Explore</button>
</a>
<a href="/">
    <button type="button" class="floatright">Home</button>
</a>

<a href = "http://localhost:9035/login.html"><button type = "button" class = "floatright">Login</button></a>
<br>
<br>

<p>Sorry, you must <a href = "http://localhost:9035/login.html"><b>login</b></a> to view your profile page.</p>

<br>
<br>
<footer>© Amy Hackett 2019</footer>
</body>
</html>